{% extends "layouts.main" %}

{% block title %}Page Not Found | 404{% endblock %}

{% block content %}
    <div class="flex flex-wrap flex-col w-full max-w-3xl mx-auto p-4 pb-8">
        <div class="w-full">
            <h1 class="text-primary text-3xl mt-3 mb-6 text-center">Page Not Found</h1>
        </div>
        <div class="relative rounded-lg shadow-lg lg:shadow-none w-full overflow-hidden p-6 bg-white border border-grey-light text-center">
            <span class="font-bold">The link you have navigated to goes to a page that we can't find right now.</span>
        </div>
    </div>
{% endblock %}
